<?xml version="1.0"?>

<launch>
  <arg name="spawn_manager" default="true" />
  <arg name="nodelet_name" default="kvh_geo_fog" />
  <arg name="manager_name" value="$(arg nodelet_name)_manager" />

  <!-- If requested, spawn manager -->
  <node if="$(arg spawn_manager)" pkg="nodelet" type="nodelet" name="$(arg manager_name)"  args="manager" output="screen"/>

  <!-- Spawn the nodelet -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)" args="load kvh_geo_fog_3d_driver/GEO_FOG_Nodelet $(arg manager_name)" output="screen">
  </node>
</launch>
