<launch>
  <!-- <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_gps" clear_params="true">
    <rosparam command="load" file="$(find kvh_geo_fog_3d_driver)/params/ukf_template_gps.yaml" /> -->

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
    <!-- $(find robot_localization)/params/ukf_template.yaml"  -->

  <!-- </node> -->

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_odom" clear_params="true">
    <rosparam command="load" file="$(find kvh_geo_fog_3d_driver)/params/ukf_template_odom.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>

  <node pkg="kvh_geo_fog_3d_driver" type="kvh_geo_fog_3d_driver_node" name="kvh_driver">
      <param name="port" value="/dev/ttyUSB0" />
      <param name="baud" type="int" value="230400" />
  </node>
</launch>